{
  "presets": [
    ["env", {
      "debug": false,
      "targets": {
        "browsers": "last 4 version, > 1%, not ie <= 8"
      }
    }],
    "react"
  ],
  "env": {
    "commonjs": {
      "plugins": [
        "add-module-exports"
      ]
    },
  }
}
